<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" id="picostrap-styles-css" href="https://cdn.livecanvas.com/media/css/library/bundle.css" media="all">
</head>

<body>


<section class="d-flex align-items-center min-vh-100 py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="lc-block">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_kcsr6fcp.json" background="transparent" speed="1" loop="" autoplay=""></lottie-player>
        </div><!-- /lc-block -->
      </div><!-- /col -->
      <div class="col-md-6 text-center text-md-start ">
        <div class="lc-block mb-3">
          <div editable="rich">
            <h1 class="fw-bold h4">СТРАНИЦА НЕ НАЙДЕНА!<br></h1>
          </div>
        </div>
        <div class="lc-block mb-3">
          <div editable="rich">
            <h1 class="display-1 fw-bold text-muted">404</h1>

          </div>
        </div><!-- /lc-block -->
        <div class="lc-block mb-5">
          <div editable="rich">
            <p class="rfs-11 fw-light">Страница которую вы ищите не существует.</p>
          </div>
        </div><!-- /lc-block -->
        <div class="lc-block">
          <a class="btn btn-lg btn-primary" href="/main" role="button">Вернуться домой</a>
        </div><!-- /lc-block -->
      </div><!-- /col -->
    </div>
  </div>
</section>


<script src="/js/bootstrap.min.js"></script>
</body>

</html>